.intro{
  font-family: monospace;
  background-color: purple;
  font-kerning: auto;
  width: 300px;
  float: left;
  margin: 15px;
}

.intro img {
  margin: 10px;
}

img{
  float: right;
}
h2{
  text-align: center;
}
body{
  background-image: url("backgraound.jpeg");
}
