.intro {
  font-family: monospace;
  background-color: purple;
  float: left;
  margin: 15px;
  padding: 20px;
  font-size: 12px;
}

.intro img {
  margin: 10px;
  float: left;
  padding-left: 275px;
}
h2{
  text-align: center;
}
body{
  background-color: lightblue;
  border-style: solid;
}
